- @page_title = "ブックマーク"
%main.bookmark
  .bookmark_box
    = render "share/select"
    .container
      %h2.heading_2
        %span.sharp #
        ブックマーク
      = render "share/card", publics: @bookmark_publics
