- @page_title = "ブックマーク"
%main.bookmark
  .bookmark_header
    .container
      %span.page_label Bookmark
      %h2.page_title ブックマーク
  .bookmark_box
    = render "share/select"
    .container
      - if @bookmark_publics.length > 0
        = render "share/card", publics: @bookmark_publics
      - else
        .article_not_found
          %h3.article_not_found_head ブックマークした記事がありません。
          %p.article_not_found_message ブックマークを活用してお気に入りの記事を保存しよう！
