%main.top_page
  .container
    .position_center
      .index
        %h1.index__h1
          %span<> L
          %span<> a
          %span<> u
          %span<> n
          %span<> c
          %span h
        %p.index__text
          あなたのアプリを紹介してフィードバックをもらおう！
      .authenticate
        = link_to "アカウント作成", new_user_registration_path, class: "signup"
        = link_to "ログイン", new_user_session_path, class: "login"
