<div class="top-page-wrapper">
  <div class="introduce">
    <div class="container">
      <div class="message">
        <div class="title">
          <h1>Launch</h1>
          <p>
            あなたのアプリを紹介してフィードバックをもらおう！
          </p>
        </div>
        <ul>
          <li>
            <i class="material-icons">desktop_windows</i>
            <span>自作アプリを作ろう。</span>
          </li>
          <li>
            <i class="material-icons">create</i>
            <span>作ったアプリをLaunchで紹介しよう。</span>
          </li>
          <li>
            <i class="material-icons">comment</i>
            <span>フィードバックをもらいアプリを改善しよう。</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top-page-content">
    <div class="container">
      <div class="authenticate">
        <h2>さぁ、Launchをはじめてアプリ開発を楽しもう！</h2>
        <div class="login-or-signup">
          <%= link_to "アカウント作成",
              new_user_registration_path,
              data: { turbolinks: false }, class: "signup" %>
          <p>or</p>
          <%= link_to "ログイン",
              new_user_session_path,
              data: { turbolinks: false }, class: "login" %>
        </div>
      </div>
    </div>
  </div>
</div>
