%main
  .container
    .position_center
      .index
        %h1 Launch
        %p
          あなたのアプリを紹介してフィードバックをもらおう！
      .authenticate
        = link_to "アカウント作成", new_user_registration_path, class: "signup"
        %p または
        = link_to "ログイン", new_user_session_path, class: "login"
