.inner
  .draft_article
    %h2.draft_article_heading
      .draft_article_heading_left
        .article_mode
          %label.article_mode_select
            %input.article_mode_select_draft{type: "radio", name: "article_select", checked: "checked", data: {url: "?mode=draft"}}
            下書き
          %label.article_mode_select
            %input.article_mode_select_public{type: "radio", name: "article_select", data: {url: "?mode=public"}}
            公開済み
      .draft_article_heading_right
        .search_article
          %form.search_article_form{action: dashboard_article_path, method: "get", data: {remote: "true"}}
            = hidden_field_tag "mode", params[:mode]
            = text_field_tag "q", params[:q], autocomplete: "off", id: "field", placeholder: "記事を検索", class: "search_article_form_field"
            %button.search_article_form_btn{type: "submit"}
              %i.fas.fa-search
    - if @entries.length > 0
      #article_table
        = render "article_table", entries: @entries
    - else
      .dashboard_article_not_found
        %h3.dashboard_article_not_found_head 記事データがありません
        %p.dashboard_article_not_found_message
          Launchでは、学びをアウトプットすることを大切にしています。
          %br
          少しでも日々の学びの中で気づいたことや、共有したいことがあれば気楽に投稿してみましょう。
        = link_to "記事を書く", new_entry_path, class: "writing"

:javascript
  const article_selects = document.getElementsByName('article_select')

  for (let i = 0; i < article_selects.length; i++) {
    const article_select = article_selects.item(i)

    if (window.location.search.indexOf(article_select.dataset.url) >= 0) {
      article_select.checked = 'checked'
    }

    article_select.addEventListener('click', (e)=>{
      const target = e.target
      if (target.nodeName === 'INPUT') {
        window.location = window.location.pathname + target.dataset.url
      }
    })
  }
