= f.text_field :title, placeholder: "記事のタイトルを入力", required: true
= f.url_field :app_url, placeholder: "開発アプリURL"
.editor-md
  = f.text_area :content, placeholder: "Markdownで内容を書く", col: 40, rows: 30
  #md-preview
