%header
  .container
    .header-left
      .logo
        = link_to "Launch", users_path
    .header-right
      %input{:form => "posts", :name => "commit", :type => "submit", :value => "下書き保存"}
      %input{:form => "posts", :name => "commit", :type => "submit", :value => "記事を公開"}
