%header.editor_header
  .header-left
    .logo
      = link_to "Launch", users_path
    .editor_form_toggle_tag
      .toggle_btn_wrapper
        .editor_show
          %i.fas.fa-pencil-alt
        .devide_show.active
          %i.fas.fa-book-open
        .preview_show
          %i.far.fa-eye
  .header-right
    %input.draft{:form => "posts", :name => "commit", :type => "submit", :value => "下書き保存"}
    %input.public{:form => "posts", :name => "commit", :type => "submit", :value => "記事を公開"}
    %input.autosave{:form => "posts", :name => "commit", :type => "submit", :value => "autosave"}
