.editor_wrapper
  .editor_form_markdown
    = f.text_field :title, placeholder: "タイトル", required: true
    = f.url_field :app_url, placeholder: "関連するURL"
    = f.text_area :content, placeholder: "Markdownで内容を書く", col: 40, rows: 30, class: "editor"
  .editor_preview
    .container.post_container.preview_content
