<header class="editor">
  <div class="container">
    <div class="back">
      <%= link_to users_path, data: {"turbolinks": false} do %>
        <i class="material-icons">navigate_before</i>
        <span>戻る</span>
      <% end %>
    </div>
    <div class="submit">
      <input type="submit" form="posts" value="下書き保存" name="commit"><!--
      --><input type="submit" form="posts" value="記事を公開" name="commit">
    </div>
  </div>
</header>
