- if Public.tag_ranking.length > 0
  .tag_ranking
    - Public.tag_ranking.each_with_index do |tag, idx|
      = link_to tag_path(tag[:name]), class: "tag_link" do
        .rank{class: "rank#{idx + 1}"}= "#{idx + 1}."
        .tag_name= tag[:name]
- else
  .article_not_found
    %h3.article_not_found_head 公開されている記事がありません。
    %p.article_not_found_message 多く使われているタグはここに表示されます。
