- @page_title = "閲覧履歴"
%main.history
  .history_header
    .container
      %span.page_label History
      %h2.page_title 閲覧履歴
  .history_box
    = render "share/select"
    .container
      - if @entries.length > 0
        = render "share/card", entries: @entries
      - else
        .article_not_found
          %h3.article_not_found_head 閲覧した記事がありません。
          %p.article_not_found_message 気になる記事を閲覧して知見を広げよう！
