/
  ログイン中のユーザーが存在し、
  閲覧している記事にいいね済みか？
- if current_user && public.like_user(current_user.uuid)
  = link_to public_unlike_path(public.article_token), remote: true, method: :delete, class: "heart btn gooded" do
    %i.fas.fa-check
    %p.count
      = public.likes.count
- else
  = link_to public_like_path(public.article_token), remote: true, method: :post, class: "heart btn" do
    %i.far.fa-thumbs-up
    %p.count
      = public.likes.count
