/
  ログイン中のユーザーが存在し、
  閲覧している記事にいいね済みか？
- if current_user && public.like_user(current_user.uuid)
  = link_to public_unlike_path(public.article_token), remote: true, method: :delete, class: "heart" do
    .heart_icon
      %i.fas.fa-heart
      いいね
    %p
      = public.likes.count
- else
  = link_to public_like_path(public.article_token), remote: true, method: :post, class: "heart" do
    .heart_icon
      %i.far.fa-heart
      いいね
    %p
      = public.likes.count
