- @page_title = "高評価した記事"
%main.good
  .good_header
    .container
      %span.page_label Good
      %h2.page_title 高評価した記事
  .good_box
    = render "share/select"
    .container
      - if @good_articles.length > 0
        = render "share/card", publics: @good_articles
      - else
        .article_not_found
          %h3.article_not_found_head 高く評価した記事がありません。
          %p.article_not_found_message 参考になった記事や面白いと思った記事に高評価しよう！
