- @page_title = "閲覧履歴"
%main.history
  .history_box
    = render "share/select"
    .container
      %h2.heading_2
        %span.sharp #
        閲覧履歴
      = render "share/card", publics: @history_publics
