- if current_user.is_following?(user)
  = link_to user_follow_path(user, current_user), remote: true, class: "follow", method: :delete do
    Following
- else
  = link_to user_follows_path(user.uuid), remote: true, class: "unfollow", method: :post do
    Follow
