- @page_title = "フォロワー一覧"
%main.follower
  .accompany_btn_index
    .container
      %ul.accompany_btn_list
        %li= link_to "フォロー中", user_follows_list_path
        %li= link_to "フォロワー", user_followers_list_path, class: "follower"
  .container
    - if @followers.present?
      = render "share/follow_list", users: @followers
    - else
      %p.no_user ユーザーはいません。
