/
  ログイン中のユーザーが存在し、
  閲覧している記事にいいね済みか？
- if current_user && post.like_user(current_user.id)
  = link_to post_unlike_path(post), remote: true, method: :delete, class: "heart" do
    .heart_icon
      %i.fas.fa-heart
      いいね
    %p
      = post.likes.count
- else
  = link_to post_like_path(post), remote: true, method: :post, class: "heart" do
    .heart_icon
      %i.far.fa-heart
      いいね
    %p
      = post.likes.count
