<%= form_for @post, html: { class: "f-editor" } do |f| %>
  <%= render "share/editor_form", f: f %>
  <div class="md-editor-bottom">
    <%= f.submit "下書き保存する" %>
    <%= f.submit "記事を公開する" %>
  </div>
<% end %>
