- @page_title = "記事作成"
.editor_wrapper
  #editor_form_wrapper.editor_form_wrapper
    = render "share/editor_form", post: @post
  .editor_preview
    .container.post_container.preview_content
#edit_form_error
  = render "share/error", errors: @errors
