$main-color: #009688;
$sub-color: #26A69A;
$border-color: #ddd;
$no_active_color: rgba(0, 0, 0, 0.35);
$font-color: rgba(0, 0, 0, 0.87);
$sub-font-color: rgba(0, 0, 0, 0.54);

$header_background_color: #333;
$primary_color: #54bf76;
$hover_primary_color: #45965f;
$white: #fff;
$hover_white: #f0f0f0;
