$border-color: #ddd;
$no_active_color: rgba(0, 0, 0, 0.35);
$font-color: rgba(0, 0, 0, 0.87);
$sub-font-color: rgba(0, 0, 0, 0.54);

$main_background_color: #F8F9FB;
$header_background_color: #333;
$primary_color: #54bf76;
$hover_primary_color: #45965f;
$white: #fff;
$hover_white: #f5f5f5;
$edit_color: #66BB6A;
$delete_color: #EF5350;
$hover_delete_color: #cf4340;
$notice_color: #ccc;
$alert_color: #E75252;
$twitter_color: #00acee;
$hover_twitter_color: #0399d2;
$facebook_color: #3B5998;

$highest_box_shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.05);
$smaller_box_shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
