/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require home.scss
 *= require dashbord.scss
 *= require show.scss

 *= require_tree .
 */

@import "variables";

* {
 margin: 0;
 box-sizing: border-box;
}

body {
 font-family: 'hiragino sans';
}

html, body {
 background-color: #eee;
 color: $font-color;
}

::selection {
 background-color: #B2DFDB;
}

input, textarea {
 outline: none;
 padding: 0;
}

input, textarea {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.checkbox {
  cursor: pointer;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

header.share {
  height: 50px;
  width: 100%;
  background-color: $white;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  transition: right .2s;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: inline-block;
    height: 50px;
    padding-right: 8px;
    font-weight: bold;
    line-height: 50px;
    font-size: 25px;
    a {
      text-decoration: none;
      color: $font-color;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      float: left;
      height: 50px;
      margin: 0 12px;
      font-size: 13px;
      transition: all .15s;
      &:hover {
        border-bottom: 4px solid $main-color;
      }
      &.active {
        border-bottom: 4px solid $main-color;
      }
      a {
        display: block;
        line-height: 50px;
        text-decoration: none;
        color: $font-color;
      }
    }
  }
  form {
    float: left;
    margin-left: 12px;
    border: 1px solid $border-color;
    border-radius: 3px;
    background-color: #eee;
    label {
      display: inline-block;
      padding: 0 8px;
      font-size: .8rem;
      i {
        color: silver;
      }
      input[type="search"] {
        width: 200px;
        height: 35px;
        border: none;
        font-size: 13px;
        background-color: inherit;
      }
    }
    input[type="submit"] {
      display: none;
    }
  }
  .header-left {
    margin-right: auto;
    float: left;
    display: flex;
    align-items: center;
  }
  .header-right {
    display: flex;
    align-items: center;
    float: right;
    height: 50px;
    button {
      padding: 0;
      margin: 0 12px;
      border: none;
      font-size: 13px;
      height: 35px;
      width: 100px;
      border-radius: 3px;
      background-color: inherit;
      transition: all .15s;
      a {
        display: block;
        line-height: 35px;
        color: $font-color;
        text-decoration: none;
      }
    }
    button.signin, button.new-post {
      background-color: $main-color;
      &:hover {
        background-color: $sub-color;
      }
      a {
        color: $white;
      }
    }
    .hamburger-menu {
      display: none;
      font-size: 1.5rem;
      margin: 8px;
      cursor: pointer;
    }
    .user-name-toggle {
      position: relative;
      .user-name {
        height: 50px;
        padding: 0 8px;
        line-height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover {
          background-color: #F5F5F5;
        }
        img {
          display: inline-block;
          margin-right:8px;
          size: 30px;
          border-radius: 9999px;
          border: 1px solid $border-color;
          background-color: $white;
        }
      }
      .toggle-list {
        min-width: 135px;
        background-color: $white;
        border-radius: 1px;
        box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50px;
        right: 0;
        display: none;
        a {
          display: block;
          line-height: 34px;
          width: 100%;
          padding: 8px;
          font-size: 13px;
          text-decoration: none;
          color: $font-color;
          transition: all .1s;
          &:hover {
            background-color: #F5F5F5;
          }
        }
      }
      .toggle-list.active {
        display: block;
      }
    }
  }
}

.post_notice {
  width: 200px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  opacity: 1;
  visibility: visible;
  background-color: $sub-color;
  color: $white;
  position: fixed;
  top: 60px;
  right: 40px;
  z-index: 9999;
  transition: right .8s;
}

.close {
  right: -1000px;
}

.devise-notification, .nocomment {
  padding: 8px 24px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  position: relative;
  top: 60px;
  .fa-times {
    padding: 3px;
    margin: auto;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 17px;
  }
}
.devise-notification.notice, .nocomment {
  border-radius: 3px;
  border: 1px solid rgba(24, 153, 114, 0.3);
  border-left: 3px solid $main-color;
  background-color: rgba(24, 153, 114, 0.1);
  color: $main-color;
}
.devise-notification.alert {
  border-radius: 3px;
  border: 1px solid rgba(153, 24, 24, 0.3);
  border-left: 3px solid #833131;
  background-color: rgba(153, 24, 24, 0.1);
  color: #833131;
}

.far.fa-heart {
  color: silver;
}

.fas.fa-heart {
  color: #D84315;
}

table.follow {
  width: 100%;
  margin: 12px auto 0;
  border-collapse: collapse;
  th, td {
    padding: 0;
    padding-right: 8px;
  }
  th {
    font-size: .8rem;
    font-weight: normal;
    a {
      text-decoration: none;
      color: $font-color;
      &:hover {
        text-decoration: underline;
        color: $main-color;
      }
    }
  }
  td {
    font-size: 1.2rem;
    font-weight: bold;
    color: $main-color
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
  width: 100%;
  padding: 12px 0;
  text-align: right;
  border-top: 1px solid $border-color;
  background-color: $white;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 0 12px;
      font-size: .8rem;
      a {
        text-decoration: none;
        color: $font-color;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

body {
  position: relative;
  right: 0vw;
  transition: right .2s;
}
body.active {
  right: 70vw;
}

.hamburger-menu-list {
  display: none;
  height: 100vh;
  width: 70vw;
  background-color: #212121;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
  .user-name {
    padding: 24px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    img {
      border-radius: 9999px;
      width: 40px;
      height: 40px;
      margin-right: 8px;
    }
    span {
      color: $white;
    }
  }
  .posts-link, .user-link {
    border-bottom: 1px solid black;
  }
  a {
    display: block;
    padding: 0 24px;
    width: 100%;
    line-height: 50px;
    color: $white;
    text-decoration: none;
  }
  .write {
    width: 80%;
    margin: 24px auto;
    text-align: center;
    border-radius: 3px;
    background-color: $main-color;
  }
}
