/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require home.scss
 *= require dashbord.scss
 *= require post.scss
 *= require_tree .
 */

@import "variables";

* {
  margin: 0;
  box-sizing: border-box;
  @media all and (max-width: 1024px) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

html {
  font-size: 10px;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: 'Lato', 'Hiragino Kaku Gothic Pro', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  background-color: #f4f5f7;
  color: $font-color;
}

input, textarea, button {
  -webkit-appearance: none;
  outline: none;
  padding: 0;
  border: none;
  border-radius: 0;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.checkbox {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
  &.post_container {
    @media all and (max-width: 896px) {
      padding: 0;
    }
  }
}

// ヘッダー
header {
  height: 70px;
  width: 100%;
  padding: 0 16px;
  border-bottom: 1px solid $border-color;
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
header {
  .header-right {
    display: none;
    align-items: center;
    margin-left: 8px;
    height: 70px;
    @media all and (min-width: 1024px) {
      display: flex;
    }
    .btn {
      padding: 0 16px;
      margin-left: 10px;
      line-height: 40px;
      font-size: 1.4rem;
      border-radius: 2px;
      cursor: pointer;
      transition: .1s;
    }
    .btn_white {
      border: 1px solid rgba(0, 0, 0, .05);
      background-color: #ECEFF1;
      &:hover {
        background-color: #e4e8eb;
      }
    }
    .btn_blue {
      color: $white;
      background-color: $main-color;
      &:hover {
        background-color: #068b7f
      }
    }
    .link_editor {
      display: none;
      @media all and (min-width: 1024px) {
        display: block;
      }
    }
  }
  a {
    display: block;
    text-decoration: none;
    color: $white;
  }
}

.user-name-toggle {
  position: relative;
  margin-left: 8px;
  @media all and (max-width: 896px) {
    display: none;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    .user-name .fa-caret-down {
      color: $font-color;
    }
    .toggle-list {
      display: block;
    }
  }
  .user-name {
    height: 70px;
    padding: 0 8px;
    line-height: 50px;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    color: $font-color;
    img {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border-radius: 2px;
      background-color: $white;
    }
    .fa-caret-down {
      margin-left: 8px;
      color: $no_active_color;
    }
  }
  .toggle-list {
    min-width: 160px;
    background-color: $white;
    border-radius: 2px;
    border: 1px solid $border-color;
    box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px;
    right: 0;
    display: none;
    &:before {
      content: "";
      border-bottom: 8px solid $border-color;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      position: absolute;
      top: -8px;
      right: 8px;
    }
    &:after {
      content: "";
      border-bottom: 8px solid #f4f5f7;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      position: absolute;
      top: -7px;
      right: 8px;
    }
    a {
      display: block;
      line-height: 34px;
      width: 100%;
      padding: 8px 16px;
      font-size: 1.3rem;
      text-decoration: none;
      color: $font-color;
      transition: all .1s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.header-left {
  display: none;
  align-items: center;
  @media all and (min-width: 1024px) {
    display: flex;
  }
  ul {
    @media all and (max-width: 896px) {
      display: none;
    }
  }
}
.logo {
  padding-right: 8px;
  letter-spacing: .5px;
  a {
    display: block;
    line-height: 70px;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    color: $font-color;
    @media all and (max-width: 1024px) {
      font-size: 2rem;
    }
  }
}
.header_nav {
  list-style: none;
  padding: 0;
  &_li {
    display: inline-block;
    margin: 0 12px;
    font-size: 1.4rem;
    transition: all .15s;
    .link {
      display: block;
      line-height: 70px;
      text-decoration: none;
      letter-spacing: 1px;
      color: $no_active_color;
      transition: color .1s;
      position: relative;
      &:hover, &.now {
        color: $font-color;
      }
      &:hover {
      }
      &.now:before {
        content: "";
        width: 100%;
        height: 3px;
        background-color: $main-color;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.editor_header {
  background-color: $white;
  border-bottom: 1px solid $border-color;
  overflow-x: scroll;
  -webkit-overflow-scrolling : touch;
  .logo {
    a {
      color: $font-color;
    }
    @media all and (max-width: 896px) {
      display: none;
    }
  }
}

// メインコンテンツ
main {
  width: 100%;
  flex: 1;
  &.top_page {
    height: 100vh;
    background: $main-color;
    color: $white;
    position: relative;
    overflow: hidden;
  }
  &.home_wrapper,
  &.posts_wrapper,
  &.follow,
  &.authenticate_edit_form {
    padding-top: 70px;
  }
  &.home_wrapper {
    background-color: rgba(0, 150, 136, 0.05);
  }
  &.post_wrapper {
    background-color: $white;
  }
}

// フォロー・フォロワー一覧ページ
main.follow, main.follower {
  padding-top: 110px;
  .container {
    text-align: center;
  }
  .no_user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    color: $sub-font-color;
  }
  .accompany_btn_list {
    .follow, .follower {
      color: $main-color;
      background-color: $white;
      font-weight: bold;
    }
  }
}

.accompany_btn_index {
  width: 100%;
  background-color: $main-color;
  position: fixed;
  top: 60px;
  left: 0;
  .accompany_btn_list {
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: inline-block;
      padding: 4px 12px;
      font-size: 1.4rem;
      text-decoration: none;
      border-radius: 99px;
      color: $white;
      transition: .4s;
      &:hover, &.active {
        font-weight: bold;
        background-color: $white;
        color: $main-color;
      }
    }
  }
}

.user_list_wrapper {
  padding: 0;
  list-style: none;
  .user_list {
    padding: 24px;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user {
      display: flex;
      align-items: center;
      img {
        margin-right: 12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .name {
        font-size: 1.4rem;
        a {
          text-decoration: none;
          color: $font-color;
        }
      }
    }
  }
}

// フォローボタン
.follow_btn {
  display: flex;
  align-items: center;
  .follow, .unfollow {
    text-decoration: none;
    width: 90px;
    padding: 5px 0;
    text-align: center;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .follow {
    border: 1px solid $main-color;
    background-color: $main-color;
    color: $white;
  }
  .unfollow {
    border: 1px solid $main-color;
    background-color: $white;
    color: $main-color;
  }
}

.notification {
  padding: 8px 24px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 1px;
  box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.1);
  color: $white;
  position: fixed;
  top: 86px;
  right: 16px;
  z-index: 50;
  animation: notification 5s ease 0s forwards;
  @media all and (max-width: 896px) {
    max-width: 100%;
    right: 0;
  }
}

@keyframes notification {
  0%, 100% {
    opacity: 0;
    transform: translateX(150%);
  }
  20%, 80% {
    opacity: 1;
    transform: translateX(0);
  }
}

.notice {
  background-color: $sub-color;
}

.alert {
  background-color: #E75252;
}

.heart, .favorite, .unfavorite {
  color: #D84315;
}

footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  width: 100%;
  min-height: 50px;
  padding: 0 16px;
  background-color: $white;
  @media all and (max-width: 896px) {
    text-align: center;
    padding: 24px 0;
  }
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: 896px) {
      align-items: flex-start;
      flex-direction: column-reverse;
    }
    p {
      font-size: 1.4rem;
      color: $sub-font-color;
      @media all and (max-width: 896px) {
        width: 100%;
        padding-top: 24px;
      }
    }
    ul {
      padding: 0;
      list-style: none;
      @media all and (max-width: 896px) {
        width: 100%;
      }
      li {
        display: inline-block;
        margin-left: 24px;
        @media all and (max-width: 896px) {
          display: block;
          margin: 12px 0;
        }
        a {
          text-decoration: none;
          font-size: 1.3rem;
          color: $font-color;
          transition: color .3s;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}

.search_show_btn {
  position: fixed;
  top: 0;
  right: 16px;
  z-index: 100;
  display: block;
  height: 70px;
  line-height: 70px;
  @media all and (min-width: 1024px) {
    display: none;
  }
  i {
    font-size: 2rem;
    color: $font-color;
  }
}

.post_search_header {
  width: 100%;
  height: 70px;
  box-shadow: 0 5px 17px 1px rgba(0, 0, 0, 0.05);
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
  .mobile_search {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input[type="text"] {
        line-height: 70px;
        width: 100%;
        padding: 0 16px;
        font-size: 1.6rem;
        background-color: $white;
      }
    }
  }
  .search_close {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
    .line {
      width: 25px;
      height: 3px;
      border-radius: 3px;
      background-color: $font-color;
      transform: rotate(-45deg);
      display: relative;
      &::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 3px;
        border-radius: 3px;
        transform: rotate(90deg);
        background-color: $font-color;
        position: absolute;
      }
    }
  }
}

.hamburger {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 35px;
  left: 16px;
  z-index: 200 ;
  transform: translateY(-50%);
  @media all and (min-width: 1024px) {
    display: none;
  }
  .line {
    position: relative;
    &::before, &::after {
      position: absolute;
    }
    &::before {
      content: '';
      top: 8px;
      left: 0;
    }
    &::after {
      content: '';
      top: -8px;
      left: 0;
    }
  }
  .line, .line::before, .line::after {
    display: inline-block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: $font-color;
    transition: all .3s;
  }
}

.hamburger.active {
  .line {
    transform: rotate(-45deg);
    background-color: $white;
    &::before {
      transform: rotate(90deg);
      top: 0;
      background-color: $white;
    }
    &::after {
      transform: rotate(-90deg);
      top: 0;
      background-color: $white;
    }
  }
}

.hamburger-menu-list {
  overflow-y: scroll;
  display: none;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: $main-color;
  opacity: 0;
  transform-origin: left;
  transform: scaleX(0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  transition: all .3s;
  @media all and (max-width: 1024px) {
    display: block;
  }
  &.show {
    opacity: 1;
    transform: scaleX(1);
  }
  a {
    display: block;
    margin: 24px 0;
    width: 100%;
    letter-spacing: .1px;
    font-weight: bold;
    color: $white;
    text-decoration: none;
  }
}

.hamburger-menu-list.show .nav_link a:nth-child(1),
.hamburger-menu-list.show .nav_link a:nth-child(2),
.hamburger-menu-list.show .nav_link a:nth-child(3),
.hamburger-menu-list.show .nav_link a:nth-child(4),
.hamburger-menu-list.show .nav_link a:nth-child(5) {
  transform-origin: right;
  opacity: 0;
  transform: translateX(200px);
}

.hamburger-menu-list.show .nav_link a:nth-child(1)  {
  animation: slide_in_nav_list .5s ease 0s forwards;
}

.hamburger-menu-list.show .nav_link a:nth-child(2)  {
  animation: slide_in_nav_list .5s ease .05s forwards;
}

.hamburger-menu-list.show .nav_link a:nth-child(3)  {
  animation: slide_in_nav_list .5s ease .1s forwards;
}

.hamburger-menu-list.show .nav_link a:nth-child(4)  {
  animation: slide_in_nav_list .5s ease .15s forwards;
}

.hamburger-menu-list.show .nav_link a:nth-child(5)  {
  animation: slide_in_nav_list .5s ease .2s forwards;
}

@keyframes slide_in_nav_list {
  to {
    opacity: 1;
    transform: translateX(0)
  }
}

.search {
  height: 40px;
  width: 250px;
  margin: 12px auto;
  border-radius: 2px;
  box-shadow: 0 5px 17px 1px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .08);
  position: relative;
  label {
    flex-grow: 1;
  }
  input[type=text] {
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding: 0 24px;
    font-size: 1.4rem;
    background-color: transparent;
    color: $font-color;
    &::placeholder {
      color: rgba(0, 0, 0, .3);
      font-size: 1.3rem;
    }
  }
  button[type="submit"] {
    height: 40px;
    padding-right: 24px;
    background-color: transparent;
    i {
      font-size: 1.3rem;
      color: rgba(0, 0, 0, .3);
      @media all and (max-width: 896px) {
        font-size: 1.6rem;
      }
    }
  }
}

.mypost_search {
  width: 100%;
  margin: 24px auto;
  background-color: $white;
  input[type="text"] {
    color: $font-color;
  }
  button[type="submit"] i {
    color: $sub-font-color;
  }
}

.noposts {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $sub-font-color;
}

.header_search {
  margin: 0 12px;
  font-size: 1.4rem;
  @media all and (max-width: 896px) {
    display: none;
  }
}

.hamburger-menu-list {
  nav {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// ページネイト
.paginate {
  width: 200px;
  height:50px;
  margin: 24px auto;
  position: relative;
  .now_page {
    color: $sub-font-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .prev-page, .next-page {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: $sub-font-color;
  }
  .prev-page {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f053";
    }
  }
  .next-page {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f054";
    }
  }
}
