@import 'variables';

.authenticate_form_wrapper {
  margin-top: 60px;
  position: relative;
}

// アカウント認証
.authenticate_form {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  color: $font-color;
  @media all and (min-width: 480px) {
    width: 350px;
    box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-color: $main-color;
    }
  }
  h2 {
    padding-top: 24px;
    font-size: 2rem;
    color: $font-color;
  }
}

.authenticate_form .form-wrapper {
  padding: 16px;
  max-width: 400px;
  margin: 0 auto;
  @media all and (min-width: 1024px) {
    padding: 24px
  }
  .separate {
    margin: 24px 0;
    border: 1px dashed $border-color;
    position: relative;
    &:before {
      padding: 0 16px;
      content: "または";
      font-size: 1.4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f4f5f7;
      color: $sub-font-color;
      @media all and (min-width: 1024px) {
        background-color: $white;
      }
    }
  }
  .sns_login {
    margin-bottom: 24px;
    .twitter {
      display: flex;
      align-items: center;
      width: 100%;
      height: 45px;
      margin: 0 auto;
      border-radius: 2px;
      box-shadow: 0 5px 17px 1px rgba(0, 0, 0, 0.05);
      text-decoration: none;
      font-size: 1.4rem;
      color: $white;
      background-color: #00acee;
      position: relative;
      &:hover {
        background-color: #06a6e3;
      }
      i {
        margin-left: 24px;
        line-height: 45px;
      }
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.authenticate_form form, .authenticate_edit_form form {
  .field {
    margin-bottom: 24px;
    position: relative;
    &::after {
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      transform-origin: left;
      transform: scale(0);
      background-color: $border-color;
      transition: all .3s;
      position: absolute;
      bottom: 0;
    }
    &.focus {
      &::after {
        height: 2px;
        transform: scale(1);
        background-color: $main-color;
      }
      label {
        transform: translateY(-20px) scale(.8);
        color: $main-color;
      }
    }
  }
  label {
    font-size: 1.4rem;
    cursor: text;
    position: absolute;
    top: 10px;
    left: 0;
    transform-origin: left;
    transform: translateY(0);
    transition: all .3s;
    color: $sub-font-color;
  }
  input {
    font-size: 1.4rem;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    display: block;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid $border-color;
    background-color: inherit;
  }
  .edit_submit, .login_submit, .registration_submit {
    box-shadow: 0 5px 17px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 1.4rem;
    background-color: $main-color;
    color: $white;
    cursor: pointer;
    &:hover {
      background-color: #068b7f
    }
  }
  .edit_submit {
    width: 150px;
    height: 40px;
    line-height: 40px;
  }
  .login_submit, .registration_submit {
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
}

.authenticate_form {
  .term, .link {
    font-size: 1.4rem;
    a {
      cursor: pointer;
      text-decoration: none;
      color: $main-color;
    }
  }
  .term {
    margin: 24px 0;
  }
}

// アカウント編集
.authenticate_edit_form {
  width: 100%;
  .box {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner {
      width: 100%;
      padding: 50px 0;
      display: flex;
      @media all and (max-width: 896px) {
        flex-direction: column;
        text-align: center;
      }
      .description_box {
        width: calc(100% / 3);
        padding: 0 24px;
        @media all and (max-width: 896px) {
          width: 100%;
        }
        h2 {
          font-size: 1.6rem;
          font-weight: normal;
          @media all and (max-width: 896px) {
            font-size: 2rem;
            font-weight: bold;
          }
        }
        .description {
          font-size: 1.2rem;
          margin: 12px 0;
          color: $sub-font-color;
        }
      }
      .setting_box {
        width: calc(100% * 2 / 3);
        padding: 0 24px;
        @media all and (max-width: 896px) {
          width: 100%;
          margin: 24px 0 0;
        }
      }
    }
  }
  .box + .box {
    border-top: 1px solid $border-color;
  }
  .user-image {
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 5px 17px 1px rgba(0, 0, 0, 0.05);
  }
  .gravatar {
    margin-top: 24px;
    font-size: 1.2rem;
    color: $sub-font-color;
    display: inline-flex;
    align-items: center;
    .avatar {
      width: 20px;
      height: 20px;
      border-radius: 2px;
    }
    .avatar_setting {
      margin-left: 10px;
      .link_gravatar {
        color: $main-color;
      }
    }
  }
}

.delete_account {
  a {
    display: inline-block;
    width: 150px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    box-shadow: 0 5px 17px 1px rgba(0, 0, 0, 0.1);
    font-size: 1.4rem;
    background-color: #d14a4a;
    color: $white;
    &:hover {
      background-color: #c24242;
    }
  }
}
