@import 'variables';

.authenticate_form_wrapper {
  margin-top: 60px;
  position: relative;
}

// アカウント認証
.authenticate_form {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  color: $font-color;
  @media all and (min-width: 1024px) {
    width: 350px;
    box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-color: $main-color;
    }
  }
  h2 {
    padding-top: 24px;
    font-size: 2rem;
    color: $font-color;
  }
}

.authenticate_form .form-wrapper {
  padding: 16px;
  @media all and (min-width: 1024px) {
    padding: 24px
  }
  .separate {
    margin: 24px 0;
    border: 1px dashed $border-color;
    position: relative;
    &:before {
      padding: 0 16px;
      content: "または";
      font-size: 1.4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f4f5f7;
      color: $sub-font-color;
      @media all and (min-width: 1024px) {
        background-color: $white;
      }
    }
  }
  .sns_login {
    margin-bottom: 24px;
    .twitter {
      display: flex;
      align-items: center;
      width: 100%;
      height: 45px;
      margin: 0 auto;
      border-radius: 999px;
      box-shadow: 0 5px 17px 1px rgba(0, 0, 0, 0.05);
      text-decoration: none;
      color: $white;
      background-color: #00acee;
      position: relative;
      i {
        margin-left: 24px;
        line-height: 45px;
      }
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.authenticate_form form, .authenticate_edit_form form {
  margin: 12px 0;
  .field {
    margin-bottom: 24px;
    position: relative;
    &::after {
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      transform-origin: left;
      transform: scale(0);
      background-color: $border-color;
      transition: all .3s;
      position: absolute;
      bottom: 0;
    }
    &.focus {
      &::after {
        height: 2px;
        transform: scale(1);
        background-color: $main-color;
      }
      label {
        transform: translateY(-20px) scale(.7);
        color: $main-color;
      }
    }
  }
  label {
    cursor: text;
    position: absolute;
    top: 10px;
    left: 0;
    transform-origin: left;
    transform: translateY(0);
    transition: all .3s;
    color: $sub-font-color;
  }
  input {
    font-size: 1.6rem;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    display: block;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid $border-color;
    background-color: inherit;
  }
  input[type="submit"] {
    width: 200px;
    height: 45px;
    padding: 8px 0;
    border-radius: 50px;
    background-color: $main-color;
    color: $white;
    cursor: pointer;
  }
}

.authenticate_form {
  .term, .link {
    font-size: 1.4rem;
    a {
      cursor: pointer;
      text-decoration: none;
      color: $main-color;
    }
  }
  .term {
    margin: 24px 0;
  }
}

// アカウント編集
.authenticate_edit_form {
  width: 100%;
  text-align: center;
  .container {
    display: flex;
    flex-direction: column;
  }
  .box {
    width: 100%;
    max-width: 400px;
    margin: 60px auto;
  }
  .user-image {
    display: inline-block;
    border-radius: 999px;
    box-shadow: 0 5px 17px 1px rgba(0, 0, 0, 0.05);
  }
  .change_image {
    display: inline-block;
    width: 200px;
    margin: 12px 0;
    padding: 8px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, .05);
    text-decoration: none;
    background-color: $white;
    color: $sub-font-color;
  }
}

.delete_account {
  padding: 24px;
  border: 2px dashed silver;
  h2 {
    font-size: 2rem;
  }
  .caution {
    margin: 24px 0;
    color: $sub-font-color;
  }
  a {
    display: inline-block;
    width: 200px;
    padding: 8px 0;
    text-decoration: none;
    background-color: #d14a4a;
    color: $white;
  }
}

// エラー表示
.error_explanation {
  padding: 24px;
  border-radius: 3px;
  border: 1px solid rgba(153, 24, 24, 0.3);
  background-color: rgba(153, 24, 24, 0.1);
  color: #833131;
  p {
    font-weight: bold;
    font-size: 1.6rem;
  }
  ul {
    padding: 8px 24px 0;
    font-size: 1.3rem;
    list-style: none;
  }
}
