@import "variables";

.editor_wrapper {
  display: flex;
  height: calc(100vh - 70px);
  margin-top: 70px;
  .editor_form_wrapper, .editor_preview {
    height: calc(100vh - 70px);
    flex: 1;
    flex-basis: 50%;
    min-width: 50%;
    background-color: $white;
    @media all and (min-width: 1024px) {
      max-width: 50%;
    }
  }
  .editor, .editor_preview_content {
    padding: 16px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .editor {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    font-family: Monaco, monospace, sans-serif;
    font-size: 1.4rem;
    line-height: 1.7em;
    resize: none;
    background-color: #1f2020;
    color: $white;
    &::selection {
      background-color: rgba(255, 255, 255, .15);
    }
    &::placeholder {
      font-family: 'Lato', sans-serif;
    }
  }
  .editor_preview_content {
    height: calc(100% - 60px);
  }
  .editor_form_wrapper.hidden {
    display: none;
  }
  .editor_preview {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    &_top {
      width: 100%;
      height: 60px;
      padding: 0 16px;
      line-height: 60px;
      font-size: 1.4rem;
      font-weight: bold;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
  }
  .editor_preview.hidden {
    display: none;
  }
}

.editor_form_markdown {
  height: calc(100vh - 70px);
  .box, .editor_box {
    background-color: #1a1a1a;
  }
  .box {
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    input[type="text"] {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 16px;
      font-size: 1.4rem;
      border: none;
      border-radius: 2px;
      background-color: #1f2020;
      color: $white;
    }
  }
  .editor_box {
    height: calc(100% - 120px);
    padding: 10px 10px 30px;
  }
}

.editor_footer {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 30px;
  font-size: 1.2rem;
  color: $white;
  position: absolute;
  bottom: 15px;
  left: 0;
  transform: translateY(50%);
  .restore_message {
    display: none;
    &.show {
      display: block;
    }
    .restore_btn {
      cursor: pointer;
      color: $main-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// selectize.js スタイル
.selectize-control {
  position: relative;
  .items {
    padding: 0 16px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: #1f2020;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    cursor: text;
    &::-webkit-scrollbar {
      display: none;
    }
    .item {
      display: inline-block;
      margin-right: 8px;
      padding: 0 8px;
      height: 1.7em;
      line-height: 1.7em;
      white-space: nowrap;
      border-radius: 50px;
      letter-spacing: .5px;
      font-size: 1.4rem;
      cursor: pointer;
      background-color: rgba(255, 255, 255, .1);
      color: $white;
    }
  }
  #category-selectized {
    width: auto !important;
    padding: 0;
    border: none;
  }
  .selectize-dropdown {
    position: absolute;
    top: 45px;
    left: 0;
    padding: 8px 16px;
    box-shadow: 0 5px 17px 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, .8);
    color: $white;
  }
}

.editor_preview_content, .content, .comment_content, .preview_area {
  word-break: break-all;
  background-color: $white;
  color: $font-color;
  & > * {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  & >:first-child {
    margin-top: 0;
    border: none;
  }
  h1, h2 {
    margin: 50px 0 24px;
    padding-top: 50px;
    font-size: 2.2rem;
    border-top: 1px solid $border-color;
    @media all and (max-width: 896px) {
      font-size: 2rem;
    }
  }
  h3 {
    margin: 24px 0;
    font-size: 2rem;
    @media all and (max-width: 896px) {
      font-size: 1.6rem;
    }
  }
  h4 {
    font-size: 1.6rem;
  }
  h5, h6 {
    font-size: 1.4rem;
  }
  p {
    line-height: 1.8em;
  }
  a {
    text-decoration: none;
    color: $sub-color;
  }
  ol, ul {
    padding-left: 1em;
    li {
      margin: 0;
      line-height: 1.8em;
    }
  }
  table {
    display: block;
    margin: 24px 0;
    border-collapse: collapse;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    tr {
      border: solid 1px $border-color;
    }
    th {
      font-weight: normal;
    }
    th, td {
      padding: 8px 14px;
      border: solid 1px $border-color;
    }
  }
  code {
    font-family: Monaco, monospace, sans-serif;
    font-size: 1.4rem;
    border-radius: 2px;
    padding: 2px 5px;
    background-color: #eee;
  }
  pre {
    margin: 24px 0;
    code {
      padding: 12px;
      line-height: 1.7em;
      background-color: #282c34;
      color: #abb2bf;
    }
  }
  blockquote {
    padding: 16px;
    margin: 24px 0;
    color: $sub-font-color;
    background-color: rgba(0, 0, 0, .05);
  }
  hr {
    border: none;
    width: 100%;
    height: 1px;
    background-color: $border-color;
  }
  img {
    max-width: 100%;
  }
}

.editor_errors {
  width: 50%;
  padding: 24px;
  box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.12);
  font-size: 1.3rem;
  background-color: #E75252;
  color: $white;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999;
  transform: translateY(150%);
  @media all and (max-width: 1024px) {
    width: 100%;
  }
  &.show {
    animation: show_error 5s ease 0s forwards;
  }
  h3 {
    font-size: 1.6rem;
  }
  ul {
    margin: 8px 0;
  }
}

@keyframes show_error {
  0%, 100% {
    transform: translateY(150%);
  }
  20%, 80% {
    transform: translateY(0);
  }
}
