@import "variables";

.posts-wrapper {
  margin: 0 auto;
  padding: 120px 0 80px;
  width: 100%;
  color: $font-color;
  h1 {
    margin-bottom: 12px;
    text-align: center;
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 1px;
    i {
      margin-right: 8px;
    }
  }
}

.posts-list {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.12);
  background-color: $white;
  .post {
    display: flex;
    padding: 12px 24px;
    border-bottom: 1px solid $border-color;
    color: $fb-color;
    img {
      display: inline-block;
      width: 50px;
      margin-right: 12px;
      border-radius: 9999px;
      border: 1px solid $border-color;
    }
    .post-title {
      width: calc(100% - 50px);
      h2 {
        display: inline-block;
        font-size: 1rem;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      p {
        font-size: .8rem;
        word-break: break-all;
      }
      .post-bottom {
        margin-top: 12px;
        font-size: 0.8rem;
        overflow: hidden;
        span {
          float: left;
          a {
            text-decoration: none;
            color: $fb-color;
          }
        }
        p {
          display: inline-block;
          float: right;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.paginate {
  padding: 24px;
  overflow: hidden;
  a {
    padding: 12px;
    color: $white;
    background-color: $main-color;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.12);
    font-size: 0.8rem;
    transition: all 0.1s;
    &:hover {
      background-color: $sub-color;
    }
  }
  .next-page {
    float: right;
  }
  .prev-page {
    float: left;
  }
}

.posts-home-wrapper {
  padding: 120px 0;
  overflow: hidden;
  .container {
    width: 1024px;
  }
  h1, h3 {
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
  }
  .period {
    width: 90%;
    margin: 12px auto;
    padding: 0 24px;
    overflow: hidden;
    .select-period {
      float: right;
      a {
        padding: 5px;
        font-size: 0.8rem;
        text-decoration: none;
        color: grey;
        &.select {
          color: $main-color;
        }
      }
    }
    h1 {
      float: left;
    }
  }
  .posts-rank-wrapper {
    float: left;
    width: calc(100% / 3 * 2);
    margin: 0 auto;
  }
  .page-right {
    float: right;
    width: calc(100% / 3);
    .posted-count {
      h3 {
        margin: 12px 0;
      }
      .calender {
        width: 330px;
        height: 330px;
        margin: 0 auto;
        box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.12);
        background-color: $white;
      }
    }
  }
}
