@import "variables";

.login_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  .user {
    display: flex;
    align-items: center;
    img {
      width: 35px;
      height: 35px;
      margin-right: 8px;
      border-radius: 999px;
      box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.1);
    }
    span {
      font-weight: bold;
      font-size: 1.4rem;
      letter-spacing: .5px;
    }
  }
  .edit_user {
    display: flex;
    align-items: center;
    a {
      font-size: 2rem;
      color: silver;
    }
  }
}

.accompany {
  display: flex;
  align-items: center;
  .follow, .follower {
    margin-right: 12px;
    font-size: 1.4rem;
    color: $sub-font-color;
    a {
      text-decoration: none;
      color: $sub-font-color;
    }
    .count {
      margin-left: 3px;
      font-weight: bold;
      color: $main-color;
    }
  }
}

.home_top_wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 24px 16px;
  background-color: $white;
}

.posts_wrapper_contents {
  margin-top: 60px;
  min-height: 64vh;
  padding: 12px 0;
  background-color: #f4f5f7;
  position: relative;
}

.toggle_index {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40px);
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: inline-block;
    padding: 4px 16px;
    margin: 0 -4px;
    height: 0;
    width: 150px;
    border-bottom: 32px solid rgba(0, 62, 57, 0.1);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    line-height: 40px; // border-bottom + 8px謎の高さ分
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
    color: $font-color;
  }
  a.active {
    font-weight: bold;
    border-bottom: 32px solid #f4f5f7;
    color: $main-color;
    z-index: 1;
  }
}

/*
 * スマホ・タブレット縦用の記事作成ボタン
 */
.write_post {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
  background-color: $main-color;
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 100;
  display: none;
  @media all and (max-width: 896px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 999px;
    position: fixed;
    align-items: center;
    justify-content: center;
    .line, .line::before {
      width: 15px;
      height: 3px;
      border-radius: 3px;
      background-color: $white;
    }
    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .line::before {
      content: '';
      display: block;
      transform: rotate(90deg);
    }
  }
}
