@import "variables";

.home_wrapper {
  .home_contents {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &_left {
      width: 280px;
      height: calc(100vh - 70px);
      border-right: 1px solid $border-color;
      border-radius: 2px;
      .box {
        padding: 24px 0;
        border-bottom: 1px solid $border-color;
      }
    }
    &_center {
      width: 780px;
      margin: 24px auto;
      .box {
        margin-bottom: 60px;
      }
    }
  }
}

.home_contents_left {
  text-align: center;
  position: sticky;
  top: 70px;
  z-index: 50;
  .login_user_wrapper {
    padding: 0 24px;
    .user_image {
      display: inline-block;
      width: 72px;
      height: 72px;
      border-radius: 2px;
      .guest_image {
        display: block;
        line-height: 72px;
        font-size: 50px;
        background-color: rgba(0, 0, 0, .05);
        color: rgba(0, 0, 0, .1);
      }
    }
    .username {
      display: block;
      margin: 5px 0;
      font-size: 1.6rem;
    }
    .user_token {
      padding-bottom: 12px;
      border-bottom: 1px solid $border-color;
      font-size: 1.2rem;
      color: $sub-font-color;
    }
    .user_status_info {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 12px;
      .link {
        margin: 0 12px;
        text-decoration: none;
        cursor: pointer;
        color: $sub-font-color;
        .follow, .follower {
          font-size: 1.4rem;
        }
        .count {
          font-size: 2rem;
          color: $main-color;
        }
      }
    }
  }
  .side_bar {
    &_link {
      display: block;
      padding: 12px 24px;
      text-decoration: none;
      text-align: left;
      font-size: 1.3rem;
      cursor: pointer;
      color: $font-color;
      &:hover {
        background-color: rgba(0, 0, 0, .03);
      }
    }
  }
}

.recommend_registration {
  border-top: 3px solid $main-color;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.08);
  padding: 24px;
  text-align: center;
  &_heading {
    font-size: 2rem;
    letter-spacing: .5px;
  }
  &_message {
    margin: 10px 0 30px;
    font-size: 1.3rem;
    letter-spacing: .5px;
    color: $sub-font-color;
  }
  .authenticate_user {
    display: inline-flex;
    flex-direction: column;
    &_registration, &_login {
      width: 150px;
      height: 40px;
      line-height: 40px;
      border-radius: 2px;
      cursor: pointer;
      &_link {
        text-decoration: none;
        font-size: 1.4rem;
        display: block;
      }
    }
    &_registration {
      background-color: $main-color;
      &:hover {
        background-color: #068b7f;
      }
      &_link {
        display: block;
        color: $white;
      }
    }
    &_login {
      border: 1px solid rgba(0, 0, 0, .05);
      background-color: #ECEFF1;
      &:hover {
        background-color: #e4e8eb;
      }
      &_link {
        color: $font-color;
      }
    }
    .or {
      margin: 5px 0;
      font-size: 1rem;
      color: $sub-font-color;
    }
  }
}

.home_contents_center {
  .trend_article_heading, .interest_tag_article_heading, .latest_article_heading {
    margin-bottom: 12px;
    font-size: 1.6rem;
    .sharp {
      margin-right: 5px;
      color: $main-color;
    }
  }
  .tag_name_list {
    margin-bottom: 24px;
    &:last-child {
      margin: 0;
    }
    .interest_tag_name {
      padding-bottom: 3px;
      font-size: 1.4rem;
      border-bottom: 1px solid $border-color;
    }
    .article_card_wrapper {
      display: flex;
      padding: 24px 8px;
      overflow: scroll;
      .article {
        flex-basis: 240px;
        margin-right: 30px;
        box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.08);
        border-top: 3px solid $main-color;
        border-radius: 2px;
        background-color: #fafafa;
        transition: .3s;
        &:last-child {
          margin: 0;
        }
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.08);
        }
        .link {
          height: 150px;
          display: block;
          border-radius: 2px;
          text-decoration: none;
          position: relative;
          color: $font-color;
          &_bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1rem;
            color: $sub-font-color;
            position: absolute;
            left: 16px;
            bottom: 16px;
            .thumbs_up {
              display: flex;
              align-items: center;
              .fa-thumbs-up {
                margin-right: 3px;
                color: $main-color;
              }
            }
            .created_at {
              margin-left: 8px;
            }
          }
          .article_link_top {
            display: flex;
            align-items: center;
            padding: 15px;
            border-bottom: 1px solid $border-color;
            .author_image {
              width: 20px;
              height: 20px;
            }
            .author_name {
              margin-left: 8px;
              font-size: 1rem;
              color: $sub-font-color;
            }
          }
          .article_link_contents {
            padding: 15px;
            position: relative;
            .article_title {
              font-weight: bold;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.more_latest_article_link {
  display: block;
  margin-top: 24px;
  width: 100%;
  line-height: 50px;
  border: 1px solid $border-color;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  color: $sub-font-color;
  &:hover {
    background-color: rgba(0, 0, 0, .02);
  }
}
