@import "variables";

.post_index {
  padding: 60px 16px 24px;
  background-color: $white;
  .post_info_wrapper {
    padding: 24px 0;
    color: $sub-font-color;
    .post_info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .author {
      font-size: 1.2rem;
      line-height: 1.5em;
      display: flex;
      align-items: center;
      img {
        width: 35px;
        height: 35px;
        margin-right: 12px;
        border-radius: 999px;
      }
    }
    .name, .updated_at {
      color: $sub-font-color;
    }
    .updated_at {
      font-size: 1.2rem;
    }
  }
  .main_title {
    font-size: 2rem;
  }
  .user_action {
    margin: 24px 0 12px;
    border: 1px solid $border-color;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}

// 記事編集
.edit_wrapper {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .edit_list {
    padding: 0;
    width: 90px;
    list-style: none;
    text-align: center;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      background-color: $main-color;
      border-radius: 3px;
      a {
        display: block;
        padding: 5px 8px;
        font-size: 1.2rem;
        text-decoration: none;
        color: $white;
      }
    }
  }
}

// リンク
.app_url {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 12px;
  color: $sub-font-color;
}

.heart_btn, .github_btn, .share_btn {
  flex-grow: 1;
}

.heart, .github, .share {
  height: 40px;
  width: 100%;
  font-size: 1.6rem;
  cursor: pointer;
}

.heart, .github {
  a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    color: $sub-font-color;
  }
}

// いいね
.heart {
  background-color: $white;
  a {
    color: $sub-font-color;
    p {
      margin-left: 8px;
      color: $sub-font-color;
    }
  }
}

// github
.github {
  background-color: #2a2a2a;
  i {
    color: $white;
  }
  &.no_url {
    background-color: #cccccc;
  }
}

// シェア
.share_btn {
  display: none;
  &.support {
    display: block;
  }
  .share {
    background-color: #90A4AE;
    color: #37474F;
  }
}

.fa-heart {
  color: #EF5350;
}

.github {
}

.share_btn_wrapper {
  margin-top: 60px;
  h2 {
    font-size: 1.6rem;
    margin-bottom: 12px;
  }
  .share_for_sns {
    display: flex;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      width: 50px;
      padding: 5px 0;
      margin-right: 8px;
      border-radius: 2px;
      text-decoration: none;
    }
    .twitter {
      background-color: #00acee;
      color: $white;
    }
    .facebook {
      background-color: #3B5998;
      color: $white;
    }
  }
}

// コメント
.comment_list_wrapper, .comment_form_wrapper {
  padding: 24px 16px;
  margin: 24px 0;
  background-color: $white;
  h3 {
    font-size: 1.6rem;
    margin-bottom: 24px;
  }
}

.comment_form_wrapper {
  .comment_form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .comment_form_bottom {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .comment_length_wrapper {
      font-size: 1.2rem;
      color: $sub-font-color;
    }
    .comment_submit {
      padding: 5px 16px;
      font-size: 1.4rem;
      font-weight: bold;
      border-radius: 2px;
      cursor: pointer;
      background-color: $main-color;
      color: $white;
    }
  }
}

.preview {
  width: 20px;
  line-height: 20px;
  margin-bottom: 24px;
  text-align: center;
  position: relative;
  &::after {
    visibility: hidden;
    opacity: 0;
    content: "プレビュー";
    width: 100px;
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-120%, -50%);
    background-color: #212121;
    color: $white;
    transition: all .1s;
  }
  &:hover::after {
    visibility: visible;
    opacity: 1;
  }
  i {
    cursor: pointer;
    color: $sub-font-color;
  }
}

// コメント欄のスタイル

.comment {
  margin-bottom: 24px;
}
.comment_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $sub-font-color;
  font-size: 1.4rem;
  .user_info {
    display: flex;
    align-items: center;
    img {
      width: 25px;
      height: 25px;
      margin-right: 12px;
      border-radius: 25px;
    }
  }
  a {
    text-decoration: none;
    font-size: 2rem;
    color: $sub-font-color;
  }
  .created_at::before {
    content: "・";
    display: inline-block;
  }
}

.comment_content {
  margin-top: 12px;
  padding: 12px;
  border: 1px solid $border-color;
  border-radius: 0 10px 10px 10px;
}


// コメントフォーム

.comment-edit {
  padding: 12px;
  border: 1px solid $border-color;
  background-color: $white;
}

.comment_form, .preview_area {
  width: 100%;
  height: 200px;
  font-size: 1.6rem;
}

.comment_form textarea {
  width: 100%;
  height: 200px;
  font-size: 1.6rem;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  resize: none;
}

.preview_area.hide, form.hide {
  display: none;
}
