@import "variables";

.heading .sharp {
  color: $main-color;
  margin-right: 5px;
}

.bookmark_btn {
  margin-top: 10px;
  .btn {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 2rem;
    color: $white;
    cursor: pointer;
  }
  .unbookmark {
    background-color: #555;
  }
  .bookmark {
    background-color: #aaa;
    color: $white;
  }
}

.article_box {
  margin: 70px auto 0;
  width: 1200px;
  display: flex;
  &_left {
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 120px;
    text-align: right;
    flex-basis: 120px;
    .inner {
      display: inline-block;
      padding: 0 24px;
      .user_action_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn {
          border-radius: 50%;
          text-decoration: none;
          box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.08);
        }
        .good {
          width: 60px;
          height: 60px;
          .heart {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            border: 1px solid $main-color;
            position: relative;
            background-color: $white;
            .fa-thumbs-up {
              font-size: 2rem;
            }
            .count {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate(-50%, -150%);
              color: $sub-font-color;
            }
            &.gooded {
              background-color: $main-color;
              color: $white;
            }
          }
        }
        .twitter, .facebook {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          margin-top: 10px;
          color: $white;
        }
        .twitter {
          background-color: #00acee;
        }
        .facebook {
          background-color: #3B5998;
        }
      }
    }
  }
  &_center {
    flex: 1;
    background-color: $white;
  }
  &_right {
    flex-basis: 280px;
    min-width: 280px;
    align-self: flex-start;
    position: sticky;
    top: 70px;
    z-index: 100px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: smooth;
    .inner {
      .box {
        &_heading {
          font-size: 1.8rem;
          padding: 24px 24px 0;
        }
      }
      .toc_box {
        .toc {
          padding: 24px;
          .heading1, .heading2, .heading3 {
            list-style: none;
            & > li > a {
              display: block;
              padding: 3px 0;
              text-decoration: none;
              font-size: 1.2rem;
              color: $sub-font-color;
              &:hover {
                color: $font-color;
              }
            }
          }
          .heading1 {
            padding: 0;
          }
          .heading2, .heading3 {
            padding-left: 24px;
          }
        }
      }
    }
  }
  &_bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 280px 0 120px;
  }
}

.article_box + .article_box {
  margin-top: 0;
}

.post_content {
  padding: 0 24px 0;
  .post_index {
    padding-bottom: 40px;
    margin-bottom: 50px;
    border-bottom: 1px solid $border-color;
  }
  .post_info_wrapper {
    padding: 24px 0;
    color: $sub-font-color;
    .post_info {
      width: 100%;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .author {
      font-size: 1.2rem;
      line-height: 1.5em;
      display: flex;
      align-items: center;
      img {
        width: 35px;
        height: 35px;
        margin-right: 12px;
        border-radius: 2px;
      }
    }
    .name, .updated_at {
      color: $sub-font-color;
    }
    .updated_at {
      font-size: 1.2rem;
    }
  }
  .main_title {
    font-size: 3.2rem;
    @media all and (max-width: 896px) {
      font-size: 2.8rem;
    }
  }
}

.box_content {
  margin-bottom: 60px;
}

.article_tags {
  margin: 24px 0;
  .tag_link {
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 2px;
    color: $font-color;
    &:hover {
      background-color: rgba(0, 0, 0, .08);
    }
  }
  .tag_name {
    line-height: 30px;
    padding: 0 10px;
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.post_detail_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  color: $sub-font-color;
  @media all and (max-width: 896px) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .day {
    margin-right: 12px;
  }
}

// 記事編集

.edit_list {
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: $white;
  display: flex;
  align-items: center;
  li {
    margin-left: 8px;
    border-radius: 2px;
    a {
      display: block;
      padding: 5px 8px;
      font-size: 1.2rem;
      text-decoration: none;
      color: $sub-font-color;
    }
  }
}

// 記事関連のボタン
.heart_wrapper {
  .heart {
    display: flex;
    align-items: center;
    text-decoration: none;
    .heart_icon {
      display: inline-block;
      padding: 0 8px;
      margin-right: 12px;
      line-height: 30px;
      border: 1px solid $border-color;
      border-radius: 2px;
      font-size: 1.4rem;
    }
    p {
      position: relative;
      line-height: 30px;
      padding: 0 8px;
      border: 1px solid $border-color;
      border-radius: 2px;
      font-size: 1.4rem;
      color: $font-color;
      &::after {
        content: "";
        border-right: 8px solid $white;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        left: -6px;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        content: "";
        border-right: 8px solid $border-color;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        left: -8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.share_btn_wrapper {
  display: flex;
  align-items: center;
  .share_for_sns {
    display: flex;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 30px;
      padding: 5px 0;
      margin-right: 8px;
      border-radius: 2px;
      text-decoration: none;
    }
    .twitter {
      background-color: #00acee;
      color: $white;
    }
    .facebook {
      background-color: #3B5998;
      color: $white;
    }
  }
}

// コメント
.comment_list_wrapper {
  margin: 0 0 50px;
}

.comment_form_wrapper, .relative_article_wrapper {
  border-top: 1px solid $border-color;
  padding: 50px 0;
  h3 {
    font-size: 1.6rem;
    margin-bottom: 24px;
  }
}

.comment_form_wrapper, .comment_edit_child_modal {
  .comment_form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 1.6rem;
      margin-bottom: 24px;
    }
  }
  .comment_form_bottom {
    margin-top: 12px;
    text-align: right;
    .comment_submit {
      line-height: 40px;
      width: 150px;
      font-size: 1.4rem;
      border-radius: 2px;
      cursor: pointer;
      box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.08);
      background-color: $main-color;
      color: $white;
    }
  }
}

// コメント欄のスタイル

.comment_wrapper {
  width: 100%;
  background-color: $white;
}
.comment {
  padding: 24px;
  margin-top: 24px;
  border: 1px solid $border-color;
  border-radius: 2px;
  background-color: $white;
  &:last-child {
    margin-bottom: 0;
  }
}
.comment + .comment {
  margin-top: 24px;
}
.comment_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $sub-font-color;
  font-size: 1.2rem;
  &_info {
    display: flex;
    align-items: center;
    img {
      width: 25px;
      height: 25px;
      margin-right: 12px;
      border-radius: 2px;
    }
  }
  .comment_edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .comment_edit_btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      font-size: 1.2rem;
      cursor: pointer;
      background-color: transparent;
      color: $sub-font-color;
    }
    a {
      text-decoration: none;
      color: $sub-font-color;
    }
  }
}

// コメントフォーム

.comment-edit {
  border: 1px solid $border-color;
  background-color: $white;
}

.comment_form {
  width: 100%;
  height: 200px;
  font-size: 1.6rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.comment_form textarea, .comment_update_form textarea {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px;
  font-size: 1.6rem;
  line-height: 1.8em;
  background-color: rgba(0, 0, 0, .02);
  font-family: 'Lato', sans-serif;
  resize: none;
}

// コメント編集フォーム
.comment_edit_parent_modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  &.show {
    display: block;
  }
}

.comment_edit_child_modal {
  width: 800px;
  max-width: 90%;
  padding: 24px;
  border-radius: 2px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  .comment_update_form {
    height: 400px;
  }
}
