@import "variables";

.post_content {
  padding: 60px 16px 24px;
  background-color: $white;
  .post_index {
    margin-bottom: 40px;
  }
  .post_info_wrapper {
    padding: 24px 0;
    color: $sub-font-color;
    .post_info {
      width: 100%;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .author {
      font-size: 1.2rem;
      line-height: 1.5em;
      display: flex;
      align-items: center;
      img {
        width: 35px;
        height: 35px;
        margin-right: 12px;
        border-radius: 999px;
      }
    }
    .name, .updated_at {
      color: $sub-font-color;
    }
    .updated_at {
      font-size: 1.2rem;
    }
  }
  .main_title {
    margin-bottom: 8px;
    font-size: 3.2rem;
    @media all and (max-width: 896px) {
      font-size: 2.8rem;
    }
  }
}

.post_detail_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  color: $sub-font-color;
  @media all and (max-width: 896px) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .day {
    margin-right: 12px;
  }
  .relative_url {
    a {
      text-decoration: none;
      color: $main-color;
    }
  }
}

// 記事編集

.edit_list {
  padding: 0;
  width: 90px;
  list-style: none;
  text-align: center;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    background-color: $main-color;
    border-radius: 2px;
    a {
      display: block;
      padding: 5px 8px;
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: none;
      color: $white;
    }
  }
}

// 記事関連のボタン
.heart_wrapper {
  .heart {
    display: flex;
    align-items: center;
    text-decoration: none;
    .heart_icon {
      display: inline-block;
      padding: 0 8px;
      margin-right: 12px;
      line-height: 30px;
      border: 1px solid $border-color;
      border-radius: 2px;
      font-size: 1.4rem;
    }
    p {
      position: relative;
      line-height: 30px;
      padding: 0 8px;
      border: 1px solid $border-color;
      border-radius: 2px;
      font-size: 1.4rem;
      color: $font-color;
      &::after {
        content: "";
        border-right: 8px solid $white;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        left: -6px;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        content: "";
        border-right: 8px solid $border-color;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        left: -8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.share_btn_wrapper {
  display: flex;
  align-items: center;
  .share_for_sns {
    display: flex;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 30px;
      padding: 5px 0;
      margin-right: 8px;
      border-radius: 2px;
      text-decoration: none;
    }
    .twitter {
      background-color: #00acee;
      color: $white;
    }
    .facebook {
      background-color: #3B5998;
      color: $white;
    }
  }
}

.content {
  margin-bottom: 60px;
}

// コメント
.comment_list_wrapper, .comment_form_wrapper {
  padding: 24px 16px;
  margin: 24px 0;
  background-color: $white;
  h3 {
    font-size: 1.6rem;
    margin-bottom: 24px;
  }
}

.comment_form_wrapper {
  .comment_form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .comment_form_bottom {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .comment_length_wrapper {
      font-size: 1.2rem;
      color: $sub-font-color;
    }
    .comment_submit {
      padding: 5px 16px;
      font-size: 1.4rem;
      font-weight: bold;
      border-radius: 2px;
      cursor: pointer;
      background-color: $main-color;
      color: $white;
    }
  }
}

.preview {
  width: 20px;
  line-height: 20px;
  margin-bottom: 24px;
  text-align: center;
  position: relative;
  &::after {
    visibility: hidden;
    opacity: 0;
    content: "プレビュー";
    width: 100px;
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-120%, -50%);
    background-color: #212121;
    color: $white;
    transition: all .1s;
  }
  &:hover::after {
    visibility: visible;
    opacity: 1;
  }
  i {
    cursor: pointer;
    color: $sub-font-color;
  }
}

// コメント欄のスタイル

.comment {
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
}
.comment_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $sub-font-color;
  font-size: 1.4rem;
  .user_info {
    display: flex;
    align-items: center;
    img {
      width: 25px;
      height: 25px;
      margin-right: 12px;
      border-radius: 25px;
    }
  }
  a {
    text-decoration: none;
    font-size: 2rem;
    color: $sub-font-color;
  }
  .created_at::before {
    content: "・";
    display: inline-block;
  }
}

.comment_content {
  margin-top: 12px;
  padding: 12px;
  border: 1px solid $border-color;
  border-radius: 0 10px 10px 10px;
}


// コメントフォーム

.comment-edit {
  padding: 12px;
  border: 1px solid $border-color;
  background-color: $white;
}

.comment_form, .preview_area {
  width: 100%;
  height: 200px;
  font-size: 1.6rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.comment_form textarea {
  width: 100%;
  height: 200px;
  font-size: 1.6rem;
  line-height: 1.8em;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  resize: none;
}

.preview_area.hide, form.hide {
  display: none;
}
