@import 'variables';

// common
.request_list .container, .request_detail .container {
  padding: 40px 0;
}

// request_list
.request_card_wrapper {
  margin-top: 10px;
  .request_card + .request_card {
    margin-top: 20px;
  }
  .request_card {
    border: 1px solid $border-color;
    .card_inner {
      display: block;
      text-decoration: none;
      background-color: $white;
      color: $font-color;
      .title {
        font-size: 1.4rem;
      }
      .content {
        font-size: 1.2rem;
        color: $sub-font-color;
      }
      &_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $border-color;
        font-size: 1.2rem;
        color: $sub-font-color;
        &_left {
          display: flex;
          align-items: center;
          .request_user {
            margin-left: 10px;
          }
        }
        &_right {
          .created_at {
            margin-left: 10px;
          }
        }
      }
      &_top, &_bottom {
        padding: 12px 24px;
      }
    }
  }
}

// request_detail
.request_detail {
  &_box {
    border-top: 3px solid $main-color;
    border-radius: 2px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.08);
    background-color: $white;
    .request_header {
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.4rem;
      &_inner {
        display: flex;
        align-items: center;
        .request_user {
          margin-left: 10px;
        }
        .created_at {
          color: $sub-font-color;
        }
      }
    }
    .request_inner {
      padding: 0 24px 24px;
      .request_theme {
        font-size: 2.4rem;
      }
      .description {
        margin-top: 10px;
        font-size: 1.6rem;
      }
    }
  }
  .writing {
    display: block;
    margin: 24px auto;
    .writing_btn {
      display: block;
      height: 45px;
      line-height: 45px;
      padding: 0 15px;
      text-align: center;
      text-decoration: none;
      box-shadow: 0 5px 17px 1px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      font-size: 1.4rem;
      background-color: #FFA726;
      color: $white;
      transition: .1s;
      &:hover {
        background-color: #ed9a20;
      }
    }
  }
}
