@import 'variables';

.request_list .container {
  padding: 40px 0;
}

.request_card_wrapper {
  margin-top: 10px;
  .request_card + .request_card {
    margin-top: 20px;
  }
  .request_card {
    border: 1px solid $border-color;
    .card_inner {
      display: block;
      text-decoration: none;
      background-color: $white;
      color: $font-color;
      .title {
        font-size: 1.4rem;
      }
      .content {
        font-size: 1.2rem;
        color: $sub-font-color;
      }
      &_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $border-color;
        font-size: 1.2rem;
        color: $sub-font-color;
        &_left {
          display: flex;
          align-items: center;
          .request_user {
            margin-left: 10px;
          }
        }
        &_right {
          .created_at {
            margin-left: 10px;
          }
        }
      }
      &_top, &_bottom {
        padding: 12px 24px;
      }
    }
  }
}
