// タブレット
@media all and (max-width: 1024px) {
  .container {
    width: 95%;
  }
  .posts-wrapper {
    width: 100%;
    .post {
      width: 50%;
    }
  }
}

// スマホ
@media all and (max-width: 767px) {
  .hamburger-menu-list {
    display: block;
  }
  header.share {
    .logo {
      a {
        font-size: 1.2rem;
      }
    }
    form {
      margin-left: 0;
      label {
        input[type="search"] {
          width: 135px;
        }
      }
    }
    .header-left {
      ul {
        display: none;
      }
    }
    .header-right {
      .new-post, .user-name-toggle, .authenticate {
        display: none;
      }
      .hamburger-menu {
        display: block;
      }
    }
  }
  .posts-home-wrapper {
    .container {
      width: 95%;
      flex-direction: column;
    }
    .page-left {
      width: 100%;
      .account-wrapper {
        width: 100%;
        margin-bottom: 60px;
        h1 {
          text-align: center;
        }
      }
    }
    .page-right {
      width: 100%;
    }
    .period {
      text-align: center;
      flex-direction: column;
    }
  }
  .posts-wrapper {
    width: 100%;
    .post {
      width: 100%;
    }
  }
  .post-wrapper {
    .container {
      flex-direction: column;
      main {
        width: 100%;
        padding-right: 0;
        border-right: none;
        h1.main-title {
          font-size: 2rem;
        }
        .comment-wrapper {
          margin-bottom: 60px;
        }
      }
      aside {
        width: 100%;
        .author {
          // text-align: left;
          img {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
  .comment-wrapper .comment-field .comment-edit input {
    margin: 0 auto;
  }
}
