// タブレット
@media all and (max-width: 1024px) {
  .container {
    width: 95%;
  }
  .posts-wrapper {
    width: 100%;
    .post {
      width: 50%;
    }
  }
}

// スマホ
@media all and (max-width: 767px) {

  .container {
    width: 95%;
  }
  header.share {
    .logo {
      a {
        font-size: 1.2rem;
      }
    }
    form {
      margin-left: 0;
      label {
        input[type="search"] {
          width: 135px;
        }
      }
    }
    .header-left {
      ul {
        display: none;
      }
    }
    .header-right {
      button {
        margin: 0 3px;
      }
      .new-post {
        display: none;
      }
      .user-name-toggle {
        display: none;
      }
      .hamburger-menu {
        display: block;
      }
    }
  }
  .posts-wrapper {
    width: 100%;
    .post {
      width: 100%;
    }
  }
}
