@import "variables";

.post-wrapper {
  padding: 120px 0 80px;
  background-color: $white;
  color: $font-color;
  .container {
    display: flex;
    @media all and (max-width: 1024px) {
      flex-direction: column;
    }
    main {
      width: 70%;
      padding-right: 24px;
      border-right: 1px solid $border-color;
      @media all and (max-width: 1024px) {
        width: 100%;
        padding-right: 0;
        border-right: none;
      }
      a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.6rem;
        color: $font-color;
      }
      h1.main-title {
        font-size: 4rem;
        word-break: break-all;
        @media all and (max-width: 1024px) {
          font-size: 3rem;
        }
      }
      .created_at {
        color: silver;
        font-size: 1.3rem;
      }
      .app-url {
        color: silver;
        p {
          word-break: break-all;
        }
        a {
          color: $main-color;
        }
      }
      .content {
        padding: 60px 0;
      }
    }
    aside {
      width: 30%;
      padding: 0 20px;
      @media all and (max-width: 1024px) {
        width: 100%;
      }
      .author {
        text-align: center;
        h3 {
          font-size: 2rem;
          margin-bottom: 24px;
        }
        img {
          width: 120px;
          height: 120px;
          background-color: $white;
          border: 1px solid $border-color;
          border-radius: 9999px;
          @media all and (max-width: 1024px) {
            width: 80px;
            height: 80px;
          }
        }
        .author-name {
          font-size: 1.6rem;
          margin-bottom: 12px;
          a {
            color: $font-color;
            text-decoration: none;
          }
        }
        a.follow-btn {
          display: inline-block;
          width: 70%;
          padding: 8px 0;
          border-radius: 3px;
          box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.1);
          text-decoration: none;
          font-size: 1.3rem;
          color: white;
          background-color: $main-color;
          transition: background-color .1s;
          @media all and (max-width: 1024px) {
            max-width: 150px;
          }
          &:hover {
            background-color: $sub-color;
          }
        }
      }
    }
  }
}

.comment-wrapper {
  @media all and (max-width: 1024px) {
    margin-bottom: 60px;
  }
  .comment-field {
    & > h3 {
      font-size: 2rem;
      @media all and (max-width: 1024px) {
        text-align: center;
      }
    }
    .toggle-field {
      display: flex;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        width: 100px;
        padding: 8px 0;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;
        @media all and (max-width: 1024px) {
          width: 50%;
        }
      }
    }
    .comment-edit {
      textarea, .comment-md-preview {
        width: 100%;
        height: 200px;
        padding: 12px;
        margin-bottom: 8px;
        border: 1px solid $border-color;
        background-color: $white;
        font-size: 1.6rem;
        letter-spacing: 1px;
        overflow-y: scroll;
        h1, h2 {
          margin: 8px 0;
        }
      }
      textarea {
        line-height: 1.5em;
        border: 1px solid $border-color;
        border-radius: 3px;
      }
      input {
        display: block;
        width: 150px;
        padding: 8px 0;
        border: none;
        border-radius: 3px;
        font-size: 1.3rem;
        background-color: $main-color;
        color: $white;
        cursor: pointer;
        transition: all .1s;
        @media all and (max-width: 1024px) {
          margin: 0 auto;
        }
        &:hover {
          background-color: $sub-color;
        }
      }
    }
  }
}

.comment-wrapper {
  .post-comments {
    margin: 24px 0 60px;
    & > h3 {
      font-size: 2rem;
      @media all and (max-width: 1024px) {
        text-align: center;
      }
    }
    .user-comment-wrapper {
      padding: 12px 0;
      display: flex;
      border-bottom: 1px solid $border-color;
      img {
        margin-right: 12px;
        background-color: $white;
        border: 1px solid $border-color;
        border-radius: 9999px;
      }
      .comment {
        width: calc(100% - 60px);
        word-break: break-all;
        position: relative;
        .md-comment {
          padding: 0;
          h1, h2 {
            margin: 12px 0;
            border-bottom: none;
          }
        }
        .comment-bottom {
          font-size: 1.3rem;
          color: silver;
          display: flex;
          justify-content: space-between;
          .comment-delete {
            a {
              color: $main-color;
              text-decoration: none;
              font-size: 1.3rem;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
