@import "variables";

.post-wrapper {
  padding: 120px 0 80px;
  background-color: $white;
  color: $font-color;
  .container {
    display: flex;
    main {
      width: 70%;
      padding-right: 24px;
      border-right: 1px solid $border-color;
      a {
        display: inline-block;
        text-decoration: none;
        color: $font-color;
      }
      h1.main-title {
        font-size: 2.6rem;
        word-break: break-all;
      }
      .created_at {
        color: silver;
      }
      .content {
        padding: 60px 0;
      }
    }
    aside {
      width: 30%;
      padding: 0 20px;
      .author {
        text-align: center;
        h3 {
          margin-bottom: 24px;
        }
        img {
          width: 120px;
          height: 120px;
          background-color: $white;
          border: 1px solid $border-color;
          border-radius: 9999px;
        }
        .author-name {
          font-size: 1.3rem;
          a {
            color: $font-color;
            text-decoration: none;
          }
        }
        table {
          width: 90%;
          margin-bottom: 8px;
          th,td {
            padding-right: 0;
          }
        }
        a.follow-btn {
          display: inline-block;
          width: 90%;
          line-height: 35px;
          border-radius: 3px;
          box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.1);
          text-decoration: none;
          color: white;
          background-color: $main-color;
          transition: background-color .1s;
          &:hover {
            background-color: $sub-color;
          }
        }
      }
    }
  }
}

.comment-wrapper {
  .comment-field {
    margin: 8px 0;
    .toggle-field {
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        width: 100px;
        padding: 8px 0;
        text-align: center;
        font-size: .8rem;
        cursor: pointer;
      }
    }
    .comment-edit {
      textarea, .comment-md-preview {
        width: 100%;
        height: 200px;
        padding: 12px;
        margin-bottom: 8px;
        border: 1px solid $border-color;
        background-color: $white;
        font-size: 1rem;
        letter-spacing: 1px;
        overflow-y: scroll;
        h1, h2 {
          margin: 8px 0;
        }
      }
      textarea {
        line-height: 1.5em;
        border: 1px solid $border-color;
        border-radius: 3px;
      }
      input {
        display: block;
        padding: 8px 24px;
        border: none;
        border-radius: 3px;
        font-size: 1rem;
        background-color: $main-color;
        color: $white;
        cursor: pointer;
        transition: all .1s;
        &:hover {
          background-color: $sub-color;
        }
      }
    }
  }
}

.comment-wrapper {
  .post-comments {
    margin: 24px 0 60px;
    .user-comment-wrapper {
      padding: 12px 0;
      display: flex;
      border-bottom: 1px solid $border-color;
      img {
        margin-right: 12px;
        background-color: $white;
        border: 1px solid $border-color;
        border-radius: 9999px;
      }
      .comment {
        width: calc(100% - 60px);
        word-break: break-all;
        position: relative;
        .md-comment {
          padding: 0;
          h1, h2 {
            margin: 12px 0;
            border-bottom: none;
          }
        }
        .comment-bottom {
          font-size: .8rem;
          color: silver;
          display: flex;
          justify-content: space-between;
          .comment-user {
          }
          .comment-delete {
            a {
              color: $main-color;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
