@import 'variables';

main {
  height: calc(100vh - 50px);
  width: 100%;
  background: $main-color;
  color: $white;
}

.position_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .index {
    margin-bottom: 24px;
  }
  h1 {
    font-size: 5rem;
    font-weight: normal;
  }
  .authenticate {
    a {
      display: inline-block;
      width: 200px;
      padding: 5px 0;
      border: 1px solid $white;
      text-decoration: none;
      color: $white;
      transition: all .3s;
      &:hover {
        background: rgba(255, 255, 255, .1);
      }
    }
    p {
      margin: 12px 0;
    }
  }
}
