@import "variables";

.user-blog {
  &__container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    align-items: flex-start;
  }
  &__user-info {
    text-align: center;
  }
  &__user-image--big {
    width: 80px;
    height: 80px;
  }
  &__user-name {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: bold;
  }
  &__user-id {
    margin-top: 5px;
    font-size: 1.2rem;
    color: $sub-font-color;
  }
  &__user-status-box {
    display: inline-flex;
    margin-top: 20px;
    box-shadow: $highest_box_shadow;
    border-radius: 10px;
    overflow: hidden;
  }
  &__user-status-link {
    display: inline-block;
    width: 100px;
    padding: 15px;
    text-decoration: none;
    background-color: $white;
    color: $font-color;
  }
  &__user-status-label {
    font-size: 1.4rem;
  }
  &__user-status-count {
    font-size: 2.4rem;
    color: $primary_color;
  }
  &__user-articles-section {
    width: 600px;
    margin: 0 auto;
  }
  &__user-articles {
    margin-top: 10px;
    box-shadow: $highest_box_shadow;
  }
  &__section-title {
    font-weight: normal;
    font-size: 1.6rem;
  }
}
