%form.editor_form_wrapper#edit{name: "editor_form"}
  .editor_form_markdown
    = text_field_tag :title, draft.title, placeholder: "タイトル"
    = text_field_tag :category, draft.category, placeholder: "カテゴリー"
    = text_area_tag :content, draft.content, placeholder: "Markdownで内容を書く", col: 40, rows: 30, class: "editor"
