- @page_title = "記事編集"
.editor_wrapper
  #editor_form_wrapper.editor_form_wrapper
    = render "editor_form", draft: @draft
  .editor_preview
    %span.status 開発中
    .preview_content
#edit_form_error
  = render "error", errors: @errors
